:root {
  /* Font Family */
  --font-montserrat: "Montserrat", sans-serif;
  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  /* Font Sizes */
  --font-size-500: clamp(1.5rem, 1vw + 1rem, 3rem);
  --font-size-400: 1.75rem;
  --font-size-300: 1.5rem;
  --font-size-200: 1.25rem;
  --font-size-100: 0.9375rem;
  /* Colors */
  --peach: hsl(11, 73%, 66%);
  --dark-peach: hsl(11, 66%, 64%);
  --black: hsl(270, 3%, 11%);
  --white: hsl(0, 0%, 100%);
  --light-peach: hsl(11, 100%, 80%);
  --very-light-peach: #FDF3F0;
  --dark-grey: hsl(264, 5%, 20%);
  --light-grey: hsl(210, 17%, 95%);
  --grey: #888;
  /* Spacing */
  --gap: 1rem;
  --flow-space: 1.25rem;
  --section-padding: 3.75rem 0;
  /* Border Radius*/
  --border-radius-container: 0;
}

@media (min-width: 25rem) {
  :root {
    --font-size-500: 2rem;
  }
}
@media (min-width: 45rem) {
  :root {
    --font-size-500: 3rem;
    --font-size-300: 0.875rem;
    --font-size-400: 2.5rem;
    --font-size-100: 1rem;
    --gap: 1rem;
    --section-padding: 5rem 0;
  }
}
@media (min-width: 65em) {
  :root {
    --section-padding: 4rem 0;
  }
}
@media (min-width: 80rem) {
  :root {
    --border-radius-container: 0.75rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-medium);
  line-height: 1.1;
}

p {
  font-weight: var(--font-weight-regular);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

html {
  width: 100%;
  overflow-x: hidden;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-montserrat);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.section-padding {
  padding: var(--section-padding);
}

.margin-auto {
  margin: 0 auto;
}

.flow > * + * {
  margin-top: var(--flow-space);
}

.hero-flow > * + * {
  margin-top: 1.75rem;
}

.primary-heading {
  font-size: var(--font-size-500);
}

.secondary-heading {
  font-size: var(--font-size-400);
}

.tertiary-heading {
  font-size: var(--font-size-200);
}

.uppercase {
  text-transform: uppercase;
}

.text-decoration-none {
  text-decoration: none;
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

/* Letter Spacing*/
.letter-spacing-2 {
  letter-spacing: 5px;
}

.letter-spacing-1 {
  letter-spacing: 2px;
}

/* Font Size */
.font-size-500 {
  font-size: var(--font-size-500);
}

.font-size-400 {
  font-size: var(--font-size-400);
}

.font-size-300 {
  font-size: var(--font-size-300);
}

.font-size-200 {
  font-size: var(--font-size-200);
}

.font-size-100 {
  font-size: var(--font-size-100);
}

.list-style-none {
  list-style: none;
}

.background-peach {
  background-color: var(--peach);
}

.background-light-peach {
  background-color: var(--light-peach);
}

.background-very-light-peach {
  background-color: var(--very-light-peach);
}

.background-white {
  background-color: var(--white);
}

.background-black {
  background-color: var(--black);
}

.text-color-dark-grey {
  color: var(--dark-grey);
}

.text-color-peach {
  color: var(--peach);
}

.text-color-light-grey {
  color: var(--light-grey);
}

.text-color-white {
  color: var(--white);
}

.text-color-black {
  color: var(--black);
}

.text-color-grey {
  color: var(--grey);
}

.container {
  max-width: 80rem;
  padding-inline: 1rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex--gap {
  gap: var(--gap);
}

.flex--center {
  justify-content: center;
  align-items: center;
}

.flex--justify-space-between {
  justify-content: space-between;
}

.flex--justify-center {
  justify-content: center;
}

.flex--align-center {
  align-items: center;
}

.flex--column {
  flex-direction: column;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.inline-grid {
  display: inline-grid;
}

.grid--2-columns {
  grid-template-columns: 1fr;
}

.grid--3-columns {
  grid-template-columns: 1fr;
}

.grid--items-center {
  place-items: center;
}

.grid--content-center {
  place-content: center;
}

.grid-gap {
  gap: var(--gap);
}

@media (min-width: 45em) {
  .grid--2-columns {
    grid-template-columns: 1fr 1fr;
  }
  .grid--3-columns {
    grid-template-columns: repeat(3, 1fr);
  }
}
.header-section {
  padding: 1.5rem 0;
  position: relative;
}

@media (min-width: 45em) {
  .header-section {
    padding: 2.5rem 0;
    position: relative;
  }
}
.header__logo-wrapper {
  max-width: 8rem;
}
.header__nav {
  background-color: var(--black);
  position: absolute;
  height: 45vh;
  top: 100%;
  left: 0;
  right: 0;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
  z-index: 99;
  opacity: 0;
  transform: translateX(100%);
  visibility: hidden;
}
.navigation-open .header__nav {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}
.header__nav-list {
  list-style: none;
  gap: 1.25rem;
  flex-direction: column;
}
.header__nav-link {
  text-decoration: none;
  color: hsl(var(--raw-white), 0.75);
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
}
.header__nav-link:hover {
  color: var(--white);
}
.header__mobile-nav-toggle {
  display: block;
  border: none;
  width: 2rem;
  height: 1.5rem;
  background: transparent url("/images/icon-hamburger.svg") no-repeat center;
  cursor: pointer;
  z-index: 999;
}
.navigation-open .header__mobile-nav-toggle {
  background-image: url("/images/icon-close.svg");
}
.header__btn {
  background: transparent;
  border: none;
  font-size: 1.35rem;
  cursor: pointer;
}
@media (min-width: 45em) {
  .header__mobile-nav-toggle {
    display: none;
  }
  .header__logo-wrapper {
    max-width: 10rem;
  }
  .header__nav {
    background-color: var(--white);
    position: static;
    height: 100%;
    padding-left: 0;
    display: flex;
    align-items: center;
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    pointer-events: auto;
  }
  .header__nav-list {
    gap: 3.5rem;
    flex-direction: row;
  }
  .header__nav-link {
    color: hsl(var(--raw-black), 0.8);
  }
  .header__nav-link:hover {
    color: var(--black);
    border-color: var(--black);
  }
}

.overlay {
  position: absolute;
  display: block;
  inset: 0;
  background-color: hsl(var(--raw-black), 0.4);
  z-index: 2;
}
.overlay.hidden {
  display: none;
}

.hero {
  gap: 4rem;
  padding-top: 3.5rem;
}
.hero__content {
  --flow-space: 2.25rem;
}
.hero__image {
  max-width: 160% !important;
}
.hero__text {
  line-height: 1.8;
}

.btn {
  display: block;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.btn--light {
  background-color: var(--white);
}

.btn--light:hover {
  background-color: var(--light-peach);
  color: var(--white);
}

.btn--dark {
  background-color: var(--peach);
  color: var(--white);
}

.btn--dark:hover {
  background-color: var(--light-peach);
  color: var(--white);
}

.service {
  min-height: 15rem;
  border-radius: 0.75rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}
.service::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(var(--raw-black), 0.45);
  transition: all 0.4s ease;
}
.service:hover::before {
  background-color: hsl(var(--raw-peach), 0.5);
}
.service__heading, .service__text {
  position: relative;
  z-index: 999;
}
.service__link-symbol {
  color: var(--peach);
  margin-left: 0.5rem;
}
.service--web {
  background-image: url("/images/home/mobile/image-web-design.jpg");
}
.service--app {
  background-image: url("/images/home/mobile/image-app-design.jpg");
}
.service--graphic {
  background-image: url("/images/home/mobile/image-graphic-design.jpg");
}
@media (min-width: 35em) {
  .service--web {
    background-image: url("/images/home/tablet/image-web-design.jpg");
  }
  .service--app {
    background-image: url("/images/home/tablet/image-app-design.jpg");
  }
  .service--graphic {
    background-image: url("/images/home/tablet/image-graphic-design.jpg");
  }
}
@media (min-width: 45em) {
  .service {
    min-height: 20rem;
  }
  .home .service--web {
    background-image: url("/images/home/desktop/image-web-design-large.jpg");
    grid-row: span 2;
  }
  .service--app {
    background-image: url("/images/home/desktop/image-app-design.jpg");
  }
  .service--graphic {
    background-image: url("/images/home/desktop/image-graphic-design.jpg");
  }
}

/* Features Section */
@media (min-width: 55em) {
  .features-section .container {
    gap: 3rem !important;
  }
}
.feature {
  gap: 1.25rem;
}
.feature__image-wrapper {
  position: relative;
}
.feature__image-wrapper::before {
  content: "";
  position: absolute;
  background-image: url("/images/shared/desktop/bg-pattern-small-circle.svg");
  inset: 0;
  background-position: center;
  background-repeat: no-repeat;
}
.feature__image {
  margin: 0 auto;
}
@media (min-width: 35em) {
  .feature {
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}
@media (min-width: 45em) {
  .feature {
    flex-direction: column;
    grid-template-columns: 1fr;
  }
}

.login {
  box-shadow: 3px 5px 13px rgba(0, 0, 0, 0.5);
  border-radius: 0.75rem;
  overflow: hidden;
  min-width: 25rem;
}
.login__header {
  padding: 2.75rem 1rem;
}
.login__heading {
  font-size: 1.875rem;
}
.login__form {
  padding: 1.5rem;
}
.login__input {
  width: 100% !important;
  padding: 0.5rem;
}
.login__input:focus {
  outline: none;
  border: 1.75px solid black;
}
.login__btn {
  width: 100%;
}
.login__forgot-password {
  display: block;
  text-decoration: none;
  color: var(--peach);
  text-align: right;
}
.login__sign-up {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}
.login__text {
  font-size: 0.85rem;
}
.login__btn--sign-up {
  background-color: transparent;
  color: var(--peach);
  font-weight: 600;
}
.login__btn--sign-up:hover {
  color: var(--light-peach);
}

/*# sourceMappingURL=main.css.map */
