.login {
  box-shadow: 3px 5px 13px rgba(0, 0, 0, 0.5);
  border-radius: 0.75rem;
  overflow: hidden;
  min-width: 25rem;

  &__header{
    padding: 1.5rem 1rem;
  }

  &__heading {
    font-size: 1.875rem;
  }

  &__form {
    padding-inline: 1.5rem;
  }

  &__input {
    width: 100% !important;
  }
}



.login__text {
  color: #555;
}

.sign-up-wrapper {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}
