*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-medium);
  line-height: 1.1;
}

p {
  font-weight: var(--font-weight-regular);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

html {
  width: 100%;
  overflow-x: hidden;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-montserrat);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}