.hero-section {
  padding-bottom: 3.75rem;
}

@media (min-width: 45em) {
  .hero-section {
    padding-bottom: 5rem;
  }
}

.hero {
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  gap: 3rem !important;
  padding: 3rem 0;
  border-radius: var(--border-radius-container);
  position: relative;

  &__description {
    padding-inline: 1rem;
    text-align: center;
    display: grid;
    place-items: center;
  }

  &__image-wrapper {
    min-height: 24rem;
    position: relative;
    background-color: var(--peach);
  }

  &__image {
    position: absolute;
    top: -45%;
    left: 50%;
    transform: translateX(-50%);
    object-position: center top;
  }

  &__btn {
    align-self: center;
    z-index: 1
  }

  @media (min-width: 45em) {
    & {
      min-height: 40rem;
      gap: 1rem;
      place-items: center;
    }

    &__description {
      text-align: left;
      place-items: start;
    }

    &__image {
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &__btn {
      align-self: flex-start;
    }
  }

  @media (min-width: 65em) {
    &__description {
      padding-left: 5rem;
    }
  }
}




